.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  flex-shrink: 0;
  width: 28rem;
  height: 5.6rem;
  @media (max-width: 450px) {
    width: 18rem;
    height: 3.6rem;
  }
}